<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <h2> App </h2>

        {{ (authUser | async)?.role}}

        <mat-list role="list">
            <a mat-list-item routerLink="/dashboard">Home</a>
            <a mat-list-item routerLink="/dashboard/students" *ngIf="(authUser | async)?.role === 'admin'">Students</a>
            <a mat-list-item routerLink="/dashboard/courses">Courses</a>
            <button mat-list-item (click)="logout()">Log Out</button>
        </mat-list>
    </mat-drawer>

    <div class="sidenav-content">
        <shred-toolbar [drawer]="drawer"></shred-toolbar>

        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>