<h1 mat-dialog-title>Editar Estudiante</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="data.firstName" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="data.lastName" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="data.email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Curso</mat-label>
        <input matInput [(ngModel)]="data.course" />
    </mat-form-field>
</div>
<div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancelar</button>
        <button mat-button color="primary" (click)="onSave()">Guardar</button>
</div>